@import "../constants/COLORS";

.content-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  min-height: 640px;

  justify-content: center;
  align-items: center;
}


.registration-heading-text {
  color: $textBlack;
  font-size: 32px;
  margin-bottom: 10px;
}

.registration-secondary-text {
  font-size: 15px;
  margin-bottom: 10px;
}

.close-icon-container {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: $lighterGrey;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 2px;
  left: 2px;

  .close-icon {
    width: 8px;
    height: 8px;
  }
}

.modal-close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  left: unset;

  .close-icon {
    width: 8px;
    height: 8px;
  }
}

@media screen and (max-width: 1024px) {
  .content-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .list-container-empty {
      width: 400px;
      justify-content: center;
      align-items: center;
      margin: unset;

      h1, h2, h3, p {
        text-align: center;
      }
    }

    .scrollable {
      overflow: visible;
    }
  }
}
