@import "../constants/COLORS";

.registration-container {
  width: 416px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .name-and-surname-inputs-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .input {
      width: 48%;
      box-sizing: border-box;
    }
  }

  .register-input  {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
  }

  .register-btn {
      background: $blue;
      span {
        display: inline-block;
      }
  }
}